body {
    background-color: white;
}
h1 {
    color: white;
    background-color: black;
    font-family: monospace;
    font-size: 36px;
}
span h1 {
    color: cyan;
}
h2 {
    color: white;
    background-color: purple;
    text-align: center;
    font-style: italic;
    font-family: sans-serif;
    font-weight: light;
}
h3 {
    background-color: lightskyblue;
    text-align: right;
    font-family: sans-serif;
}