body {
    background-color: white;
}
#cloud {
    padding-top: .px;
    padding-right: 5px;
    padding-bottom: .5px;
    padding-left: 15px;
    color: white;
    background-color: black;
    text-align: left;
    font-family: monospace;
    font-size: 28px;
}
#projects {
    color: white;
    background-color: purple;
    text-align: center;
    font-style: italic;
    font-family: sans-serif;
    font-weight: light;
}
#contact {
    background-color: lightskyblue;
    text-align: right;
    font-family: sans-serif;
}